html
    head
        title Inventory
        link(rel='stylesheet', href='/style/style.css')

    body 
        table
            tr
                th Item Number 
                th Item Name
                th Item Description 
                th Quantity
                th Delete Entry
                th Edit Entry

            if supplies
                each k, v in supplies
                    tr 
                        th(class='item_number')=supplies[v].item_number
                        th(class='supplyName')=supplies[v].item_name
                        th=supplies[v].item_desc
                        th=supplies[v].item_count
                        th 
                            input(type='submit' value='Remove' class='removeItem')
                        th  
                            input(type='submit' value='Edit' class='edit')

        form(action=`/inventory/addInventoryItem` method='POST' id='updateInventory')
            
            label(for='itemNumber') Item Number
            input(name='itemNumber', value='1', type='text', id='itemNumber')
            br
            label(for='supplyName') Supply Name
            input(name='supplyName', value='', type='text' id='supplyName')
            br
            label(for='description') Description 
            input(name='description', value='', type='text' id='description')
            br
            label(for='quantity') Quantity
            input(name='quantity', value='', type='text' id='quantity')
            br
            button(type='submit' class='submit' id='addItem') Add Item

        if item 
            p Succesfully added #{item}

        p(id="error-msg")
        
        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
        script(src='/scripts/addItem.js')
        script(src='/scripts/removeItem.js')
        script(src='/scripts/editItem.js')