html
    head
        title Inventory
        link(rel='stylesheet', href='/style/style.css')

    body 
        table
            tr
                th Item Number 
                th Item Name
                th Item Description 
                th Quantity
                th Delete Entry

            if supplies
                each k, v in supplies
                    tr 
                        th(id='item_number')=supplies[v].item_number
                        th=supplies[v].item_name
                        th=supplies[v].item_desc
                        th=supplies[v].item_count
                        th 
                            input(type='submit' value='Remove' id='removeItem')

        form(action=`http://68.183.17.93:3000/user/addInventoryItem` method='POST')
            label(for='supplyName') Supply Name
            input(name='supplyName', value='', type='text' id='supplyName')
            br
            label(for='description') Description 
            input(name='description', value='', type='text' id='description')
            br
            label(for='quantity') Quantity
            input(name='quantity', value='', type='text' id='quantity')
            br
            input(value='Submit', type='submit' id='submit')

        if item 
            p Succesfully added #{item}

        p(id="error-msg")
        
        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
        script(src='/scripts/addItem.js')
        script(src='/scripts/removeItem.js')